.app__name {
    text-align: center; 
} 

.wrapper {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    height: 100%; 
    width: 100%; 
}


.inputs__wrapper--container {
    display: flex; 
    justify-content: space-between; 
    width: 40rem;  
}

.data__input {
    align-items: center; 
    display: flex; 
    flex-direction: column; 
}

#mapI {
    margin: 5rem; 
    width: 80%;
    height: 60rem;
}